.Card {
    margin: 15px;
    border: 3px solid rgb(128, 90, 189);
    border-radius: 10px;
    font-size: 1rem;
    overflow: hidden;
    background-color: rgb(39, 18, 73);
}

.Card .Content {
    padding: 20px;
    color: rgb(128, 90, 189);
}